@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$white: #fff;
$blue: #55ACEE;
$cursor: pointer;


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  color: $white;
  background-color: $blue;
}

main {
  margin: 0;
  padding: 0;
  text-align: center;
  .clickable {
    @extend main;
    button {
      @extend body;
      cursor: $cursor;
      font-size: 20px;
      border: 1px solid rgba(225, 225, 225, 0.3);
      font-weight: 300;
      border-radius: 5px;
      padding: 10px 50px;
      margin-bottom: 20px;
    }
    a {
      @extend button;
      text-decoration: none;
      .fa-twitter {
        height: 25px;
        width: 25px;
        border: 0;
        padding: 0;
        background-color: $blue;
        cursor: $cursor;
        font-size: 20px;
        color: $white;
      }
    }
  }
}


h1 {
  font-weight: 400;
  font-size: 40px;
}

h2, h3 {
  @extend h1;
  font-size: 30px;
}